.pixelated-image-card {
  background-color: #222;
  color: var(--color-primary, #fff);
  border-radius: 15px;
  border: 2px solid #fff;
  width: 300px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.pixelated-image-card__default,
.pixelated-image-card__active,
.pixelated-image-card__pixels {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pixelated-image-card__active {
  z-index: 2;
  background: #222;
}

.pixelated-image-card__active .pixel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.pixelated-image-card__active {
  display: none;
}

.pixelated-image-card__pixels {
  pointer-events: none;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pixelated-image-card__pixel {
  display: none;
  position: absolute;
}

@media (max-width: 768px) {
  .pixelated-image-card {
    width: 98vw;
    min-width: 120px;
    max-width: 99vw;
    border-radius: 10px;
    padding: 0.5em;
  }
  .pixelated-image-card__active .pixel-img {
    border-radius: 8px;
  }
}

@media (max-width: 480px) {
  .pixelated-image-card {
    width: 99vw;
    min-width: 80px;
    max-width: 100vw;
    border-radius: 7px;
    padding: 0.2em;
  }
  .pixelated-image-card__active .pixel-img {
    border-radius: 5px;
  }
} 